#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.read-the-docs {
  color: #888;
}

.mybutton{
  width: 100px;
  height: 100px;
  background-color: beige;
}

.tictactoe {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  width: 300px;
}

.reset-button{
  width: 50%;
  height: 70px;
  background-color: greenyellow;
  margin: auto;
}

.headline{
  width: 300px;
}